html,
body{
  margin: 0px;
  padding: 0px;
}
h1,h2{
  color: black;
}
body{
  background: -webkit-linear-gradient(90deg, rgba(231, 31, 17, .7) 0%, #000000 100% ),url(https://assets.nflxext.com/ffe/siteui/vlv3/2503cca1-63b3-4f4a-939d-8d53dd5b404d/446b08f2-cff8-468b-84f3-2e37fb85f9dc/NG-en-20180709-popsignuptwoweeks-perspective_alpha_website_large.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

.form-01{
  border: 1px solid white;
  width: 40%;
  margin: 25px auto;
  background: #333;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

.form-01 .header h1{
  text-align: center;
  color: white;
}


.form-01 .input-01{
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  margin: 10px 0px;
  text-align: center;
  background: -webkit-gradient(linear,left top, left bottom,from(#111),to(#333));
  background: linear-gradient(#111,#333);
  color: #fc3;
  font-size: 20px;
  border-radius: 10px;
   border: none;
}
.form-01 .input-01:focus{
  outline: none;
 
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fc3;
}

::-moz-placeholder { 
  /* Firefox 19+ */
  color: #fc3;
}
:-ms-input-placeholder { 
  /* IE 10+ */
  color: #fc3;
}
:-moz-placeholder { 
  /* Firefox 18- */
  color: #fc3;
}

.form-01 .check-wrap input{
  float: left;
}

.form-01 .check-wrap a{
  float: right;
  position: relative;
  top: 4px;
}


.btn-01{
  width: 70%;
  margin: 20px auto;
  margin-top: 30px;
  display: block;
  padding: 15px;
  font-size: 20px;
  background: -webkit-gradient(linear,left top, left bottom,from(#111),to(#333));
  background: linear-gradient(#111,#333);
  color: lime;
  border-radius: 10px;
}

.btn-01:active{
  outline: none;
}

.btn-01:hover{
  cursor: pointer;
}

.checkbox{
  width: 25px;
  height: 25px;
}

.check-wrap label{
  
  position: relative;
  top: 6px;
  left: 5px;
  font-weight: 800;
}

h1{

  color: #DDD;
}


/*

  Media Queries


*/


@media (min-width: 480px)and (max-width: 768px){
  
  .form-01{
    width: 75%;
  }
  
}

@media (max-width: 480px){
  
  .form-01{
    width: 95%;
  }
  
}


@media (min-width: 768px)and (max-width: 1024px){
  
  .form-01{
    width: 60%;
  }
  
}

/*  Validations  */

.message {
  margin: 0 auto !important;
  width: 1100px;
  font-size: 1rem;
  font-weight: bolder;
}

#errorMessage {
    
    color: red;
    font-size: 90%;
    text-align: center;
    
}
#successMessage {
    
    color: #fff;
    font-size: 3em;
    display:none;
    border-top: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
    padding: 10px;
    margin: 50% auto;
    background: -webkit-linear-gradient(0deg, rgba(231, 31, 17, .7) 0%, #000000 0% )
    
}

a{
  text-decoration: none;
}











