html{
  background: black;
}

section{
			width: 100vw;
			height: 100vh;
	
			text-align: center;
		}
		

.container{
  background: black;
}
#header{
  background: #000;
  color: #fff;
  overflow: auto;
  padding: 0 25px 0 25px;
}

#gallery img{
  width: 300px;
}

.logo{
  float: left;
  background: red;
  display: inline-block;
  padding: 20px;
  margin-right: 25px;

}


a{
  color: white;
  text-decoration: none;
}

 a:hover{
  color: red;
}
#largeImage{
   padding: 200px 35px; 
   background: -webkit-linear-gradient(90deg, rgba(231, 31, 17, .7) 0%, #000000 100% ),url(https://assets.nflxext.com/ffe/siteui/vlv3/2503cca1-63b3-4f4a-939d-8d53dd5b404d/446b08f2-cff8-468b-84f3-2e37fb85f9dc/NG-en-20180709-popsignuptwoweeks-perspective_alpha_website_large.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;

}

.descriptionBox{

  width: 50%;
}

.descriptionBox h1{

  font-family: serif;
  font-weight: 700px;
  font-size: 65px;
  margin: 0;
  color: white;
}

.descriptionBox h3{

  font-family: sans-serif;
  font-weight: 300px;
  color: white;
  font-size: 28px;
  margin: 0;
}

.descriptionBox h4{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300px;
  color: white;
  margin: 0;
}

.descriptionBox p{

  font-family: sans-serif;
  font-weight: 100px;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.button1{
  display: inline-block;
  padding: 12px 18px;
  background: #000;
  color: white;
  border: 2px solid #000;
  cursor: pointer;
}

.button1:hover{
  background: rgba(0, 0, 5, .7);
}

.button2:hover{
  background: rgba(0, 0, 5, .7);
  border: 2px solid rgba(0, 0, 5, .7);
}


.button2{
  display: inline-block;
  padding: 12px 18px;
  color: white;
  border: 2px solid #000;
  cursor: pointer;
}

#about{

  height: 500px;
}

 #about p{
  font-family: sans-serif;
  padding: 30px;
  line-height: 2;
  text-align: left;
  font-size: 25px;
  margin: auto;
}

#largeImage p{
  font-family: sans-serif;
  color: white;
}